<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766146535765-dsshbfc6kvfkbsuufngedmbt8s2ifctp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766146535765-dsshbfc6kvfkbsuufngedmbt8s2ifctp</string>
	<key>API_KEY</key>
	<string>AIzaSyBUjdRO1gUaT_bOWctwfl_G_M5bFVUILIM</string>
	<key>GCM_SENDER_ID</key>
	<string>766146535765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nails</string>
	<key>PROJECT_ID</key>
	<string>safe-nails</string>
	<key>STORAGE_BUCKET</key>
	<string>safe-nails.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766146535765:ios:698ba521644e94df440fdc</string>
</dict>
</plist>